---
import BogglBoard from "../components/BogglBoard.astro";
import "../styles.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1"
    />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <title>Bogglr</title>
  </head>
  <body>
    <style>
      html,
      body {
        box-sizing: border-box;
        max-width: 100vw;
        min-height: 100vh;
      }

      body {
        background-image: linear-gradient(45deg, orangered, orange);
        background-repeat: no-repeat;
        background-size: 100%;
        padding: 1rem;
        box-sizing: border-box;
      }
    </style>
    <BogglBoard />
  </body>
</html>
