---
import BogglInstructions from "../components/BogglInstructions.md";
---

<style>
  .side-drawer {
    --padding: max(4vw, 3rem);
    position: fixed;
    height: 98svh;
    width: min(30rem, 90vw);
    left: 0;
    top: 0;
    transform: translate(-100%);
    background-color: antiquewhite;
    padding-bottom: calc(var(--padding) * 2);
    transition: all 1.5s ease;
    z-index: 2;

    & .drawer-inner {
      height: 95%;
      overflow: auto;
      padding: 1rem;
    }

    & .drawer-handle {
      position: absolute;
      top: 50%;
      right: 0;
      height: calc(var(--padding) * 0.5);
      width: calc(var(--padding) * 2.5);
      border-top-right-radius: 0.5rem;
      border-top-left-radius: 0.5rem;
      transform: scale(-1, -1) rotate(270deg) translate(-50%, -280%);
      transform-origin: center;
      box-shadow: none;
      border: none;
      cursor: pointer;
      background-color: antiquewhite;

      z-index: -1;
      opacity: 0.7;

      & .handle-symbol {
        font-family: "Super Corn";
        letter-spacing: 0.1rem;
      }
    }

    &.open {
      transform: translate(0);
      /*
      & .handle-symbol {
        display: inline-block;
        transform: scale(-1, 1);
      } */
    }

    ::-webkit-scrollbar {
      width: 0.125rem;
      background: #f1f1f1;
    }

    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
</style>
<astro-side-drawer class="side-drawer">
  <article class="drawer-inner">
    <BogglInstructions />
  </article>
  <button role="button" class="drawer-handle"
    ><span class="handle-symbol">Instructions</span></button
  >
</astro-side-drawer>
<script>
  class SideDrawer extends HTMLElement {
    constructor() {
      super();
      const drawer = this;
      const handleBtn = this.querySelector(".drawer-handle") as HTMLElement;

      handleBtn.addEventListener("click", function () {
        if (drawer.classList.contains("open")) {
          drawer.classList.remove("open");
          return;
        }
        drawer.classList.add("open");
      });
    }
  }
  customElements.define("astro-side-drawer", SideDrawer);
</script>
