---
import BogglInstructions from "../components/BogglInstructions.md";
---

<style>
  .side-drawer {
    --padding: max(4vw, 3rem);
    position: fixed;
    height: 98svh;
    width: min(30rem, 90vw);
    left: 0;
    top: 0;
    transform: translate(-100%);
    background-color: antiquewhite;
    padding-bottom: calc(var(--padding) * 2);
    transition: all 1.5s ease;
    z-index: 2;

    & .drawer-inner {
      height: 95%;
      overflow: auto;
      padding: 1rem;
    }

    & .drawer-handle {
      position: absolute;
      top: 50%;
      right: 0;
      width: calc(var(--padding) / 1.5);
      height: var(--padding);
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      transform: translate(90%, -100%);
      box-shadow: none;
      border: none;
      cursor: pointer;
      background-color: antiquewhite;
      font-size: 1.2rem;
      z-index: -1;
    }

    &.open {
      /* transform: translate(calc(var(--padding) * -1)); */
      transform: translate(0);

      & .handle-symbol {
        display: inline-block;
        transform: scale(-1, 1);
      }
    }

    ::-webkit-scrollbar {
      width: 0.125rem;
      background: #f1f1f1;
    }

    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
</style>
<astro-side-drawer class="side-drawer">
  <article class="drawer-inner">
    <BogglInstructions />
  </article>
  <button role="button" class="drawer-handle"
    ><span class="handle-symbol">&#187;</span></button
  >
</astro-side-drawer>
<script>
  class SideDrawer extends HTMLElement {
    constructor() {
      super();
      const drawer = this;
      const handleBtn = this.querySelector(".drawer-handle") as HTMLElement;

      handleBtn.addEventListener("click", function () {
        if (drawer.classList.contains("open")) {
          drawer.classList.remove("open");
          return;
        }
        drawer.classList.add("open");
      });
    }
  }
  customElements.define("astro-side-drawer", SideDrawer);
</script>
